body{
    margin: 0px;
    width: 100%;
    height: 5921px;
}
.header-block {
    background-image: linear-gradient(rgba(79, 82, 92, 0.7), rgba(79, 82, 92, 0.7)), url("../images/room-5LRUg3IwNpI-unsplash.png");
    background-size: 100% 1044px;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 535px;
}
.header{
    padding: 2% 15%;
    display: flex;
    justify-content: space-between;
}
.menu a{
    font-family: Inter;
    display: inline-block;
    padding: 0px 30px 0px 0px;
    text-decoration: none;
    text-align: center;
    color: #DBE4F1;
}
.header-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0% 30% 0% 30%;
}
.name-of-block {
    margin: 0%;
    padding: 5% 0% 0%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 68px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}
.info{
    margin: 0%;
    padding: 0% 10%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #DBE4F1;
}
.button{
    margin: 5% 0% 0%;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0F3D33;
    background-color: #50E3C2;
    padding: 2% 6%;

}
.add-info {
    margin: 0%;
    padding: 1%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #DBE4F1;
}

.cards-block{
    padding: 7% 10%;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.red-oval{
    background: #FC5C65;
    mix-blend-mode: normal;
    opacity: 0.06;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
}
.red-point{
    background: #FC5C65;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 40%;
}
.blue-oval{
    background: #50E3C2;
    mix-blend-mode: normal;
    opacity: 0.06;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
}
.blue-point{
    background: #50E3C2;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 40%;
}
.purple-oval{
    background: #A665FB;
    mix-blend-mode: normal;
    opacity: 0.06;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
}
.purple-point{
    background: #A665FB;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 40%;
}

.card{
    padding: 2% 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #E8E8EA;

}
.card#non-border{
    border-right: none;
}
h3{
    padding: 10% 0% 0%;
    margin: 0%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #000000;
}
.text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #323232;
}

.content1-block{
    padding: 7% 15%;
    background: #F8FBFE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.images{
    position: relative;
    display: inline-block;
    padding: 0% 0% 10%;
}
.images img{
    display: block;
}
.bitmap1{
    position: relative;
    width: 268.59px;
    height: 355.53px;
    z-index: 1;
    filter: drop-shadow(3px 3px 5px rgba(176, 196, 222, 0.5));
}
.bitmap2{
    position: absolute;
    width: 336px;
    height: 354.78px;
    left: 50%;
    top: 21%;
    z-index: 3;
    filter: drop-shadow(5px 5px 15px lightsteelblue);
}
.rectangle{
    position: absolute;
    width: 351px;
    height: 192px;
    bottom: 19%;
    z-index: 2;
    background: linear-gradient(180deg, rgba(248, 251, 254, 0.1) -26.82%, #F8FBFE 100%);

}
.content1{
    display: flex;
    flex-direction: column;
    padding: 0% 7% 5% 0%;
    margin: 0 0 0 35%;
}
h2{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 50px;
    letter-spacing: -0.3px;
    color: #000000;
}
.text2{
    margin: 2% 0%;
    padding: 0 7% 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #323232;
}
.button2{
    padding: 5% 7%;
    margin: 5% 40% 0% 0%;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0F3D33;
    background: rgba(80, 227, 194, 0.14);
}
.content2-block{
    display: flex;
    flex-direction: row-reverse;
    padding: 5% 15%;
    margin: 0 15% 0 0;
    justify-content: center;
    align-items: center;
    align-content: center
}
.content2-block > .content1{
    margin: 0% 5% 0% 0%;
}
.content2-block > .images{
    padding: 0%;
}
.content2-block > .images > .bitmap2{
    position: relative;
    width: 465px;
    height: 537px;
    left: 0%;
    top: 0%;
    z-index: 3;
    filter: drop-shadow(3px 3px 5px rgba(176, 196, 222, 0.5));
}
.content2-block > .images > .bitmap1{
    position: absolute;
    width: 320px;
    height: 297px;
    left: 58%;
    top: 25%;
    z-index: 1;
    filter: drop-shadow(5px 5px 15px lightsteelblue);
}

.content2-block > .images >.rectangle{
    left: 51%;
    background: linear-gradient(180deg, rgba(248, 251, 254, 0.1) -26.82%, white 100%);
}

.video{
    width: 100%;
    height: 526px;
}
.video-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 2;
}
.video-info > h2{
    margin: 0%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}
.video-info > .text{
    padding: 0 30% 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

video{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 526px;
}
/* .shadow{
    background: linear-gradient( #222D3D, #222D3D);
    position: relative;
    width: 100%;
    height: 526px;
    z-index: 0;
    opacity: 0.3;
}
*/
.vid-icon{
    top: 20%;
    left: 0%;
}

.play{
    position: relative;
    top: -50%;
    left: 44%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #50E3C2;;
    border-bottom: 15px solid transparent;
}
.white-oval {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.19;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    position: relative;
}


.content3-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 526px;
    background: #F8FBFE;
}
.content3-block h2{
    margin: 0;
}
.content3-block .text{
    padding: 0% 30%;
}
.switch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5% 5%;
    border: 1px solid #E8E8EA;
    box-sizing: border-box;
    border-radius: 50px;
}
.monthly{
    border-radius: 50px;
    padding: 6% 35%;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: -0.3px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #0F3D33;

}
.yearly{
    background:  #50E3C2;
    border-radius: 50px;
    padding: 6% 35%;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #0F3D33;
}

.price-card-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

}
.price-card{
    margin: -5% 1% 5%;
    padding: 2%;
    width: 315px;
    height: 515px;
    background: #FFFFFF;
    box-shadow: 0px 42px 54px rgba(0, 0, 0, 0.0939481);
    border-radius: 6px;
}
.line{
    margin: -10% -10% 12%;
    padding: 0;
    border: 1px solid #50E3C2;
    border-radius: 6px;
}
.price-name{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 32px;
    letter-spacing: 0.433333px;
    text-transform: uppercase;
    color: #878B90;
}
.price{
    display: flex;
    flex-direction: row;
}
.price-doll{
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: -0.3px;
    color: #000000;
}
.month{
    margin: 0;
    padding: 10% 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.3px;
    color: #000000;
}
ul{
    margin: 13% 0;
}
li{
    list-style: "✔";
    padding-left: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.45px;
    color: #000000;
}
.price-card> .button{
    padding: 5% 15%;
}
.price-card> .text{
    text-align: left;
}
.price-card> .text2{
    padding: 7% 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: #666666;
}
li>s{
    color: #8E8E8E;
}
.brands{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brands-logo {
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.brands-logo img{
    width: 165px;
    height: 35px;
    margin: 5% 5%;
}
.brands p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #878B90;
}









.reviews__list{
    display: flex;
    justify-content: center;
    margin: 5% 10%;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;

}
.reviews__list-cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 25%;
    padding: 1%;
    border: 1px solid #E8E8EA;
}

.reviews__list-cart-quotas{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 98px;
    line-height: 99px;
    letter-spacing: -0.1px;
    color: #DBE4F1;
}
.reviews__list-cart-text{
    padding: 0% 8% 10%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: #000000;
}
.reviews__list-cart-user{
    display: flex;
    padding: 5% 8%;
}

.reviews__list-cart-user-avatar img{
    width: 43px;
    height: 43px;
    border-radius: 50%;
}
.reviews__list-cart-user-info{
   padding: 0 5%;
}
.reviews__list-cart-user-username{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: #323232;
}
.reviews__list-cart-user-from{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: #323232;
}
.content4-block{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 0 0 2%;
}
.content4-block h3{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -0.221053px;
    color: #000000;
    padding: 0;
    margin: 2%;
}
.content4-block .button{
    padding: 1% 3%;
    margin: 2%;
}
.registration{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 614px;
    background: linear-gradient(to top, #F8FBFE 70%, #FFFFFF 30%);
}

.form{
    display: flex;
    flex-direction: column;
    padding: 2%;
    height: 65%;
    width: 30%;
    background: #FFFFFF;
    border: 1px solid #E8E8EA;
    box-sizing: border-box;
    box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
    border-radius: 10px;
}
input{
    padding: 2%;
    margin: 2%;
    background: #FFFFFF;
    border: 1px solid #E8E8EA;
    box-sizing: border-box;
    border-radius: 3px;
}
.form> .button2{
    padding: 3%;
    margin: 2%;
}
.form p{
    margin: 2%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    color: #323232;
}
.attach{
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.attach .butt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 35px;
    background: #F2F5F8;
    border-radius: 3px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    line-height: 50px;
    letter-spacing: -0.3px;
    color: #323232;
}
.footer-links-block{
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.footer-block{
    width: 100%;
    height: 413px;
    background: linear-gradient(315.06deg, #152649 5%, #4F525C 100%);
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #DBE4F1;
}
.footer a{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #DBE4F1;
    text-decoration: none;
}
.footer-links{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    color: #DBE4F1;
    mix-blend-mode: normal;
    opacity: 0.7;
}
.footer-links a{
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    color: #F8FBFE;
}

.footer img{
    height: 16px;
    width: 16px;
    background: #FFFFFF;;
}
