@media (min-width: 600px) and (max-width: 1600px){
   body{
       width: 100%;
    }
    .header-block{
        background-size: 100%;
        width: 100%;
    }
    .video{
        background-size: 100%;
        width: 100%;
    }
    .header{
        padding: 2% 15%;
    }
    .header-info{
        padding: 15% 25% 0% 25%;
    }
}
@media (max-width: 1000px) {
    .menu{
        display: flex;
        flex-direction: column;
    }


}
